﻿<!DOCTYPE html>
@{
    //let angular know what our base url is so it can make requests
    var baseDir = Url.Content("~");
    var baseUrl = String.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, baseDir);
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var _root = '@baseUrl';
    </script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/Angular/app.js"></script>
    <script src="~/Scripts/Angular/controllers.js"></script>
    <script src="~/Scripts/Angular/services.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
