﻿@{
    ViewBag.Title = "Home Page";
}

<div ng-app="myApp">
    <div ng-controller="FooCtrl">
        <h2>Here are the foos!</h2>
        <ul>
            <li ng-repeat="foo in foos">{{foo.Name}}</li>
        </ul>
        <input type="button" ng-click="addFoo()" value="Add" />
    </div>
</div>

